{% extends "111index.html" %}
{% block main %}
<html>
    <head>
        <meta http-equiv="Access-Control-Allow-Origin" content="*">
        <style>
            #map{
                left: 15%;
                margin-right: 65%;
                margin-top:90px;
                height: 70%;
                }
        </style>
    </head>
    <body class="paging">
        <div id="map"></div>
        <script type="text/javascript">
            function initMap(){
                var taipeiST = {lat: 25.0466328, lng: 121.5142823};
                var map = new google.maps.Map(document.getElementById('map'),{
                    zoom: 15,
                    center: taipeiST
                });
                var maker = new google.maps.Marker({
                    position: taipeiST,
                    map: map
                });
                /*
                fetch("../123456.json")
                    .then(results => results.json())
                    .then(result => {
                        let res = result.features;
                        Array.prototype.forEach.call(res, r => { //迭代，1緯度 0經度
                            let latLng = new google.maps.LatLng(r.geometry.coordinates[1], r.geometry.coordinates[0]);
                            let marker = new google.maps.Marker({
                                position: latLng,
                                map: map
                            });
                        });
                    });
                    */
                
                map.data.loadGeoJson('../mark.geojson');
            }
        </script>
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-DVxN-HoeGrw77OmWd21eZsCW3r2PGKY&callback=initMap">
        </script>

        <div class="introduce">
            <div class="intr-title">納莉颱風</div>
            <div class="intr-main">溢流狀況等介紹...</div>
            <img style="text-align: bottom;" src="../static/messageImage_1669952138615.jpg"/>
        </div>

    </body>
</html>
{% endblock %}